.venv/
__pycache__/
*.pyc
*.pyo

checkpoints/
results/
inference_results/
tta_results/

data/rv-landmark/
data/acdc/
data/acdc_translated/

acdc-checkpoints/
*.pth
rv-checkpoints/
cyclegan_results/

inference_rv_results/
